label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

input[type=submit] {
    margin-left: 1em;
}

input[type=text] {
    margin-bottom: 1em;
}

.required {
    color: red;
}